<ion-view>
    <ion-header-bar class="bar-header">
        <h1 class="title">EYEXPO</h1>
        <button class="button button-icon icon ion-navicon" ng-click="openPopover($event)"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list card" ng-repeat='pano in panoData'>
            <div class="item item-image">
                <a href="#/pano/{{pano.index}}">
                    <img src={{pano.image}}>
                </a>
            </div>
            <div class="item item-text-wrap">
                Here is the describe of this panorama view.
            </div>
        </div>
    </ion-content>
</ion-view>
